/*secondary css after bootswatch css*/
body{
    background-color: #36454f;
}

.centerText{
    display: block;
    text-align: center;
}

#finalTextAtTop{
    margin-bottom: 2em;
}

a:link, a:hover{
    text-decoration: none
}


img{
    height: auto;
    width: 300px;
}

li{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

small{
    vertical-align: text-bottom;
}

p{
    color: #ad5bd6
}

